# REQUIRED
MONGO_PASSWORD=
KOMODO_PASSKEY=
KOMODO_JWT_SECRET=

## OPTIONAL OVERRIDES
KOMODO_IMAGE=
KOMODO_IMAGE_TAG=
KOMODO_PERIPHERY_IMAGE=
KOMODO_PERIPHERY_IMAGE_TAG=
MONGO_IMAGE=
MONGO_IMAGE_TAG=
KOMODO_UI_WRITE_DISABLED=
KOMODO_DISABLE_CONFIRM_DIALOG=
KOMODO_LOCAL_AUTH=
KOMODO_DISABLE_USER_REGISTRATION=
KOMODO_ENABLE_NEW_USERS=
KOMODO_TRANSPARENT_MODE=
KOMODO_DISABLE_NON_ADMIN_CREATE=
# off, error, warn, info, debug, trace
KOMODO_LOGGING_LEVEL=
KOMODO_KEEP_STATS_FOR_DAYS=
KOMODO_KEEP_ALERTS_FOR_DAYS=
# 1-sec, 5-sec, 15-sec, 30-sec, 1-min, 2-min, 5-min, 15-min
KOMODO_MONITORING_INTERVAL=
# 15-sec, 1-min, 5-min, 15-min, 1-hr
KOMODO_RESOURCE_POLL_INTERVAL=

## SOCKET PROXY OPTIONAL OVERRIDES
SOCKET_PROXY_IMAGE=
SOCKET_PROXY_IMAGE_TAG=
