## REQUIRED
WAZUH_VERSION=
API_PASSWORD=
INDEXER_PASSWORD=
DASHBOARD_PASSWORD=

## OPTIONAL OVERRIDES
WAZUH_MANAGER_IMAGE=
WAZUH_MANAGER_IMAGE_TAG=
WAZUH_INDEXER_IMAGE=
WAZUH_INDEXER_IMAGE_TAG=
WAZUH_DASHBOARD_IMAGE=
WAZUH_DASHBOARD_IMAGE_TAG=
OPENSEARCH_JAVA_OPTS=
