## REQUIRED
WAZUH_VERSION=
API_PASSWORD=
## https://documentation.wazuh.com/current/deployment-options/docker/wazuh-container.html#change-the-password-of-wazuh-users
## To change these passwords:
## 1 - stop the stack
## 2 - edit the value here
## 3 - sudo rm -f ${DOCKER_APP_DATA_DIR}/wazuh/indexer/usr/share/wazuh-indexer/opensearch-security/internal_users.yml
## 4 - run init script to re-generate the internal_users.yml file
## 5 - start the stack and wait for the indexer to initialize
## 6 - docker exec --env 'JAVA_HOME=/usr/share/wazuh-indexer/jdk' 'wazuh-indexer' bash /usr/share/wazuh-indexer/plugins/opensearch-security/tools/securityadmin.sh -cd /usr/share/wazuh-indexer/opensearch-security/ -nhnv -cacert  /usr/share/wazuh-indexer/certs/root-ca.pem -cert /usr/share/wazuh-indexer/certs/admin.pem -key /usr/share/wazuh-indexer/certs/admin-key.pem -p 9200 -icl
INDEXER_PASSWORD=
DASHBOARD_PASSWORD=

## OPTIONAL OVERRIDES
WAZUH_MANAGER_IMAGE=
WAZUH_MANAGER_IMAGE_TAG=
WAZUH_INDEXER_IMAGE=
WAZUH_INDEXER_IMAGE_TAG=
WAZUH_DASHBOARD_IMAGE=
WAZUH_DASHBOARD_IMAGE_TAG=
OPENSEARCH_JAVA_OPTS=
