## REQUIRED
CF_API_EMAIL=
# https://dash.cloudflare.com/profile/api-tokens
# token with edit zone dns
CF_DNS_API_TOKEN=
TRAEFIK_DASHBOARD_PORT=

## OPTIONAL OVERRIDES
TRAEFIK_IMAGE=
TRAEFIK_IMAGE_TAG=
ACCESS_LOG_STATUS_CODES=
DOCKER_EXPOSED_BY_DEFAULT=
LOG_LEVEL=
