## REQUIRED
# https://dash.cloudflare.com/profile/api-tokens
# https://go-acme.github.io/lego/dns/cloudflare/
# Zone/Zone/Read and Zone/DNS/Edit permissions
CF_DNS_API_TOKEN=

## OPTIONAL OVERRIDES
TRAEFIK_IMAGE=
TRAEFIK_IMAGE_TAG=
ACCESS_LOG_STATUS_CODES=
DOCKER_EXPOSED_BY_DEFAULT=
LOG_LEVEL=
DASHBOARD_PORT=

## SOCKET PROXY OPTIONAL OVERRIDES
SOCKET_PROXY_IMAGE=
SOCKET_PROXY_IMAGE_TAG=
SOCKET_PROXY_LOG_LEVEL=
