## REQUIRED
POSTGRES_PASSWORD=

## GUACAMOLE OPTIONAL OVERRIDES
GUACAMOLE_IMAGE=
GUACAMOLE_IMAGE_TAG=

## GUACD OPTIONAL OVERRIDES
GUACD_IMAGE=
GUACD_IMAGE_TAG=

## POSTGREST OPTIONAL OVERRIDES
POSTGRES_IMAGE=
POSTGRES_IMAGE_TAG=
