## REQUIRED
# https://admin-185050d5.duosecurity.com/applications
AUTHELIA_DUO_API_HOSTNAME=
AUTHELIA_DUO_INTEGRATION_KEY=
AUTHELIA_DUO_SECRET_KEY=
AUTHELIA_STORAGE_ENCRYPTION_KEY=
CROWDSEC_BOUNCER_API_KEY=
CROWDSEC_ENGINE_ENROLL_KEY=
# https://dash.cloudflare.com/profile/api-tokens
# https://go-acme.github.io/lego/dns/cloudflare/
# Zone/Zone/Read and Zone/DNS/Edit permissions
TRAEFIK_CF_DNS_API_TOKEN=

## AUTHELIA OPTIONAL OVERRIDES
AUTHELIA_IMAGE=
AUTHELIA_IMAGE_TAG=
# info, debug, trace
AUTHELIA_LOG_LEVEL=

## CROWDSEC OPTIONAL OVERRIDES
CROWDSEC_IMAGE=
CROWDSEC_IMAGE_TAG=
CROWDSEC_EXTRA_COLLECTIONS=

## CROWDSEC BOUNCER OPTIONAL OVERRIDES
CROWDSEC_BOUNCER_IMAGE=
CROWDSEC_BOUNCER_IMAGE_TAG=
# panic, fatal, error, warn, info, debug or trace
CROWDSEC_BOUNCER_LOG_LEVEL=
# release or debug
GIN_MODE=

## TRAEFIK STDOUT LOGGER OPTIONAL OVERRIDES
TRAEFIK_STDOUT_LOGGER_IMAGE=
TRAEFIK_STDOUT_LOGGER_IMAGE_TAG=

## TRAEFIK OPTIONAL OVERRIDES
TRAEFIK_IMAGE=
TRAEFIK_IMAGE_TAG=
TRAEFIK_ACCESS_LOG_STATUS_CODES=
#TRAEFIK_ACME_CA_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory
TRAEFIK_DASHBOARD_PORT=
TRAEFIK_DOCKER_EXPOSED_BY_DEFAULT=
# TRACE, DEBUG, INFO, WARN, ERROR, FATAL, PANIC
TRAEFIK_LOG_LEVEL=
TRAEFIK_TRUSTED_IPS=

## SOCKET PROXY OPTIONAL OVERRIDES
SOCKET_PROXY_IMAGE=
SOCKET_PROXY_IMAGE_TAG=
