## REQUIRED
# https://dash.cloudflare.com/profile/api-tokens
# https://go-acme.github.io/lego/dns/cloudflare/
# Zone/Zone/Read and Zone/DNS/Edit permissions
CF_DNS_API_TOKEN=

## OPTIONAL OVERRIDES
TRAEFIK_IMAGE=
TRAEFIK_IMAGE_TAG=
ACCESS_LOG_STATUS_CODES=
# LetsEncrypt Staging: https://acme-staging-v02.api.letsencrypt.org/directory
ACME_CA_SERVER=
DASHBOARD_PORT=
DOCKER_EXPOSED_BY_DEFAULT=
# TRACE, DEBUG, INFO, WARN, ERROR, FATAL, PANIC
LOG_LEVEL=
TRUSTED_IPS

## SOCKET PROXY OPTIONAL OVERRIDES
SOCKET_PROXY_IMAGE=
SOCKET_PROXY_IMAGE_TAG=
