## OPTIONAL OVERRIDES
DOZZLE_IMAGE=
DOZZLE_IMAGE_TAG=

## SOCKET PROXY OPTIONAL OVERRIDES
SOCKET_PROXY_IMAGE=
SOCKET_PROXY_IMAGE_TAG=
SOCKET_PROXY_LOG_LEVEL= # debug, info, notice, warning, err, crit, alert, emerg
