## REQUIRED
DISCORD_WEBHOOK_ID=
DISCORD_TOKEN=

## OPTIONAL OVERRIDES
WATCHTOWER_CLEANUP=
WATCHTOWER_DISABLE_CONTAINERS=
WATCHTOWER_INCLUDE_RESTARTING=
WATCHTOWER_INCLUDE_STOPPED=
# panic, fatal, error, warn, info, debug or trace
WATCHTOWER_LOG_LEVEL=
WATCHTOWER_MONITOR_ONLY=
WATCHTOWER_NO_RESTART=
WATCHTOWER_NO_STARTUP_MESSAGE=
WATCHTOWER_REMOVE_VOLUMES=
WATCHTOWER_REVIVE_STOPPED=
WATCHTOWER_ROLLING_RESTART=
WATCHTOWER_TIMEOUT=
