## REQUIRED
DISCORD_WEBHOOK_ID=
DISCORD_TOKEN=

## OPTIONAL OVERRIDES
WATCHTOWER_IMAGE=
WATCHTOWER_IMAGE_TAG=
WATCHTOWER_CLEANUP=
#WATCHTOWER_ENTRY_POINT=/watchtower --run-once && /watchtower
WATCHTOWER_DISABLE_CONTAINERS=
WATCHTOWER_INCLUDE_RESTARTING=
WATCHTOWER_INCLUDE_STOPPED=
# panic, fatal, error, warn, info, debug or trace
WATCHTOWER_LOG_LEVEL=
WATCHTOWER_NO_STARTUP_MESSAGE=
WATCHTOWER_POLL_INTERVAL=
WATCHTOWER_REMOVE_VOLUMES=
WATCHTOWER_REVIVE_STOPPED=
WATCHTOWER_ROLLING_RESTART=
WATCHTOWER_SCHEDULE=
WATCHTOWER_TIMEOUT=

## SOCKET PROXY OPTIONAL OVERRIDES
SOCKET_PROXY_IMAGE=
SOCKET_PROXY_IMAGE_TAG=
